@charset "utf-8";

/*===== Reset ===== */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


* { margin:0; padding:0; box-sizing: border-box; }
ol, ul, li { list-style: none; }
a {
    display:block; color:#333; text-decoration: none; outline: none; border:0 
}
img { outline:0; border:0; }

body {
    font-family: 'Noto Sans KR', sans-serif; font-size:15px;
    color:#333; 
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Play', sans-serif;}