/*===== sub01 =====*/

body { background:#222; }
header {
    position:fixed; left:0; top:0; width:100%; height:60px; 
    background:rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index:990;
}

h1 { position:fixed; left:30px;}
h1 a { width:160px;}
h1 a  img { width:100%; }

.gnb { 
    display:flex; justify-content: space-between; align-items: center; 
    position: absolute; left:50%; top:5px;
    width:700px; height:50px;
    padding:0;
    text-align: center;
    transform: translateX(-50%);    
}
.gnb > li { 
    float:left; position:relative; 
    width:180px; height:50px;
    margin:0 10px;
    line-height: 50px; 
}
.gnb > li a { 
    font-family: 'Play', sans-serif;  font-size:15px; color:rgb(190, 190, 190);
    transition:all 0.2s ease-in; 
}
.submenu { 
    display:none;
    position:absolute; top:53px; 
    width:100%; padding:5px 0 0 0;
    text-align: center;
}
.submenu li { height:40px; line-height: 40px;  }
.login { position:absolute; right:30px; top:0px; height:60px; }
.login li { 
    float:left;   margin-right:10px; padding:0 20px;
    height:100%;
    font-size:12px; letter-spacing: 1px;
    line-height:60px;
    text-transform:uppercase;
}

.gnb > li:hover > a { transform:scale(1.1);}
.gnb > li:hover .submenu{ display:block;}
.submenu li:hover > a { color:#747474; }
.login li:hover a { color:rgb(170, 119, 190); }

/*===== common section =====*/
.circleText {  
    position:absolute; left:15%; top:-50px;
    transform-origin: 100px 200px;
    transform:rotate(360deg);
    animation: spin 12s linear infinite;
}
.text span {
    position: absolute;
    left:100px;
    display: inline-block;
    color:rgba(255, 255, 255, 0.5);
    font-weight: lighter;
    text-transform: uppercase; 
    transform-origin: 0px 200px; 
}
.circleText2 {
    position:absolute; 
    right:230px; bottom:700px;
    transform-origin: 100px 600px;
    transform:rotate(-360deg);
    animation: spin 20s linear infinite;
}
.circleText2 .text span{
    transform-origin: 0px 600px; 
    font-size:60px;  font-weight: bold;
    opacity: 0.3;
}
@keyframes spin {
    from { transform: rotate(0deg); }
}
section {
    position: relative;
    width:100%; height:100%;
    padding:0 30px;
    overflow: hidden;
}
section::before{
    content:'';
    position:fixed;  left:0; top:0;
    width:100%; height:100%;
    background:#7f24ca;
    z-index: -1;
    clip-path: circle(60% at 100% -20%);
}
section::after{
    content:'';
    position:fixed;  left:0; top:0;
    width:100%; height:100%;
    background:#0ae5a3;
    z-index:-1;
    clip-path: circle(35% at 0% 100%);
}
section:nth-child(4) { padding-bottom:200px; }
/*===== .swiper product=====*/

.swiper-container {  margin-top:200px; }
.swiper-wrapper .swiper-slide {
    display:flex;  justify-content: center; align-items: center;  flex-direction: column;
    position:relative;
    width:300px; height:400px;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.swiper-wrapper .swiper-slide .imgBox{ 
    display:flex;  justify-content: center; align-items: center; 
    flex-direction: column;
    position:relative;
    padding:20px;
    transition:0.5s ease-in-out;
}
.swiper-wrapper .swiper-slide .imgBox img { 
    max-width:100%;
    transition:0.5s ease-in-out;
}
.swiper-wrapper .swiper-slide .imgBox h2 {
    font-weight:700; margin-top:20px;
    color:rgba(255, 255, 255, 0.5);
    font-size:28px;
    transition:0.5s ease-in-out;
}

/*==== slide content =====*/

.swiper-wrapper .swiper-slide .content {
    display:flex;  justify-content: center; align-items: center; 
    flex-direction: column;
    position:absolute;
    bottom:10px; padding-bottom:12px;
    transition: 0.5s ease-in-out;
    opacity:0; visibility: hidden;
}
.swiper-wrapper .swiper-slide .content .size, .swiper-wrapper .swiper-slide .content .color {
    display:flex;  justify-content: center; align-items: center; 
    padding:8px 20px;
}
.swiper-wrapper .swiper-slide .content .size h3, .swiper-wrapper .swiper-slide .content .color h3 {
    margin:3px 10px 0 0;
    color:#fff;  font-size:14px; font-weight:400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.swiper-wrapper .swiper-slide .content .size span {
    display:inline-block;
    position:relative;
    width:22px; height:22px;
    margin:0 5px;
    color:#222; font-size:13px;
    font-weight: 600;
    text-align: center;  line-height:24px;
    background:#fff;
    border-radius: 4px;
    transition:0.5s;
    overflow:hidden;
    cursor:pointer;
}
.swiper-wrapper .swiper-slide:nth-child(2) .content .size span:last-child::after, .swiper-wrapper .swiper-slide:nth-child(3) .content .size span:nth-child(3)::after { 
    content:'';
    position:absolute; top:-5px; left:8px;
    width:1px; height:40px;
    background:rgb(255, 0, 0);
    transform:rotate(45deg);
 }
.swiper-wrapper .swiper-slide .content .size span:hover:not(.disabled) {  background:#8f1fde; }


.swiper-wrapper .swiper-slide .content .color span {
    width:20px; height:20px;
    margin:0 5px;
    background:#f00;
    border-radius:50%;
    border:2px solid #fff;
    cursor:pointer;
}
.swiper-wrapper .swiper-slide .content .color span:nth-child(2) { background:#58de1f }
.swiper-wrapper .swiper-slide .content .color span:nth-child(3) { background:#dddddd }
.swiper-wrapper.wrap .swiper-slide .content .color span:nth-child(2) { background:#1f48de }
.swiper-wrapper.wrap .swiper-slide .content .color span:nth-child(3) { background:#ffc800 }
.swiper-wrapper.wrap .swiper-slide.cw .content .color span { background:#e28400 }
.swiper-wrapper.wrap .swiper-slide.cw .content .color span:nth-child(2) { background:#0ad42b }

.swiper-wrapper .swiper-slide .content a {
    display:inline-block;
    position:relative;
    top:10px;
    padding:10px 30px;
    color:#222; font-weight:600;
    letter-spacing: 1px;
    background:#fff;
    border-radius: 40px;
}
.swiper-wrapper .swiper-slide .content a::after {
    content:'BUY NOW';
    position:absolute; left:0; top:0;
    width:100%; height:100%;
    text-align:center; line-height:42px;
    background:rgb(253, 46, 46);
    border-radius: 40px;
    opacity:0;
    transition: 0.2s ease-in;
}
.swiper-wrapper .swiper-slide:nth-child(even) .content a::after {  background:rgb(199, 0, 217);}
.swiper-wrapper .swiper-slide:nth-child(3) .content a::after {  background:rgb(83, 215, 0);}
.swiper-wrapper .swiper-slide .content a:hover:after{ opacity:1;}

/*===== slide hover =====*/
.swiper-wrapper .swiper-slide:hover .imgBox{
    transform:translateY(-60px) scale(0.9);
}
.swiper-wrapper .swiper-slide:hover .imgBox img {
    transform: rotate(20deg) scale(0.8);
}
.swiper-wrapper .swiper-slide:hover .imgBox h2 {
    transform:translateY(-25px); color:#fff;
}
.swiper-wrapper .swiper-slide:hover .content {
    opacity:1;
    visibility: visible;
    transform:translateY(-20px);
}
.swiper-wrapper.shoes > .swiper-slide:hover .imgBox{
    transform:translateY(-100px);
}
.swiper-wrapper.shoes > .swiper-slide:hover .imgBox img {
    transform: translateY(10px)  rotate(10deg) scale(0.7);
}
.swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox { transform:translateY(-45px) scale(0.9); }
.swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox img {
    transform: rotate(20deg) scale(0.9);
}
.swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox h2 { transform:translateY(-15px);}

/*===== footer =====*/

footer {
    position:absolute; 
    width:100%;  height:330px; 
}
.ft-wrap { 
    display:flex; justify-content: space-between;
    width:100%; height:250px; margin:0 auto;  
    padding:40px 100px;
    background:rgba(0, 0, 0, 0.5); 
}
.ft-content {
    width:27%;
    padding:0 20px; 
    color:#989898;
    font-size:12px;
    text-align: center;
}
.ft-content ul li { width:50%; height:20px; margin:5px auto; }
.ft-content ul li  a{ color:#989898; }
.ft-content ul li:hover  a{  color:#d4d4d4;  }
.ft-content:nth-child(3) a  { width:150px; margin:30px auto; opacity: 0.6; }  
.ft-content:nth-child(3) a img { width:100%; }
.ft-content:nth-child(3) a:hover { opacity:1; }
.ft-content h4 { font-size:20px; margin-bottom:15px; }
.ft-sns li { font-size:25px; margin:5px; }
.ft-sns li:first-child { margin-top:0; }
.ft-sns li a { color:#7f24ca;  transition:0.4s; }
.ft-sns li a:hover { transform: scale(1.2); }
footer > p { 
    width:100%; margin:20px auto; color:#d1d1d1; 
    font-size:12px; text-align: center;
}