@charset "utf-8";

/*===== sub02 =====*/

/* =====main title===== */
.wrap {
    position:fixed; 
    width:100%; height:100%;
    background:url(../imgs/camp_bg.jpg) no-repeat center;
    overflow: hidden;
}

.title {
    position:absolute;
    left:60px; top:50%;
    transform: translateY(-50%);
}
.title-wrap {
    height:60px; overflow: hidden; 
}
.title-wrap h2 {
    width:500px; margin-bottom: 10px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size:50px; color:#fff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    transform: translateY(200px);
    animation: h2Up linear 1.2s forwards;
}
.title-wrap:nth-child(2) h2 { animation-delay: 0.2s; }
.title-wrap h2 span { 
    position: absolute; top:-46px; right:0;
    font-size:100px; 
}
@keyframes h2Up {
    to { transform: translateY(0); }
}
.title p {
    width:300px; height:38px;
    margin-top:5px;
    color:rgb(115, 255, 0); 
    font-family: 'Play', sans-serif;
    font-size:25px; 
    text-align: center; line-height: 38px;
    background:rgba(0, 0, 0,0.8);
}

/*===== section =====*/
section { position:fixed; right:0; top:0; width:100%; height:100%; }
article { 
    float:right; position:relative; width:20%; height:100%; 
    background: rgba(0,0,0,0.6) url(../imgs/divider.png) no-repeat left center; 
    overflow: hidden;
    transition: all 0.6s ease-in;
}
article h2 { 
    position:absolute; left:30px; top:50%; padding-left: 10px;
    color:rgba(115, 255, 0, 0.8); font-size:24px; font-weight:bold;
    line-height:0.8; 
    border-left:2px solid rgba(136, 255, 67, 0.5); z-index: 3;
    transform:translateY(-50%);
    transition:all 0.2s ease-in;
 }
article img { 
    display: block;
    position:absolute; right:0;
    width:100%; height:100%; 
    margin-left:-100px;
    opacity:0; z-index: 1;
    transition:all 0.4s ease-in;
    object-fit: cover;
 }
 article:first-child img { object-position:30%; }

 article div {
    position:absolute; right:-800px; bottom:65px;
    width:700px; height:250px;
    background: url(../imgs/camp-scar.png) no-repeat left;
    background-size: cover;
    transition: 0.7s ease-in 0.5s;
    z-index: 2;
}
article h3 { 
    position:absolute; right:-400px; bottom:200px;
    width:400px;
    font-size:35px; color:#fff; text-align: right;
    transition:all 0.3s ease-in 0.2s;
    z-index: 4; opacity: 1;
 }
article p { 
    position:absolute; right:-400px; bottom:35px; 
    width:380px; height:150px;
    font-size:12px; color:#fff; text-align: right; opacity: 0.8; z-index: 5;
    transition:all 0.3s ease-in 0.2s;
 }
 
article:hover { width:25%; }
article:hover img { opacity:1; }
article:hover h2 { opacity: 0; }
article:hover div { left:15px; }
article:hover h3 { right:40px; } 
article:hover p { right:40px; } 


