@charset "utf-8";

/*===== sub01 =====*/

/*===== section =====*/
section {
    position: relative;
    width:100%; height:100%;
    overflow: hidden;
}

.scar {
    position:fixed; 
    opacity: 0.4; 
    mix-blend-mode:color;
    transition: 0.7s;
}
.scar.p {
    left:-250px; top:-150px;  transform:rotate(-35deg) scale(1.3); 
  
} 
.scar.g { 
    bottom:-500px; left:0; 
    transform:rotate(50deg) scale(1.5);
}

/*===== .swiper product=====*/

.swiper-container {  margin-top:200px;}
.swiper-wrapper .swiper-slide {
    display:flex;  justify-content: center; align-items: center;  flex-direction: column;
    position:relative;
    width:300px; height:400px;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.swiper-wrapper .swiper-slide .imgBox{ 
    display:flex;  justify-content: center; align-items: center; 
    flex-direction: column;
    position:relative;
    padding:20px;
    transition:0.5s ease-in-out;
}
.swiper-wrapper .swiper-slide .imgBox img { 
    max-width:100%;
    transition:0.5s ease-in-out;
}
.swiper-wrapper .swiper-slide .imgBox h2 {
    font-weight:700; margin-top:20px;
    color:rgba(255, 255, 255, 0.5);
    font-size:28px;
    transition:0.5s ease-in-out;
}

/*==== slide content =====*/

.swiper-wrapper .swiper-slide .content {
    display:flex;  justify-content: center; align-items: center; 
    flex-direction: column;
    position:absolute;
    bottom:10px; padding-bottom:12px;
    transition: 0.5s ease-in-out;
    opacity:0; visibility: hidden;
}
.swiper-wrapper .swiper-slide .content .size, .swiper-wrapper .swiper-slide .content .color {
    display:flex;  justify-content: center; align-items: center; 
    padding:8px 20px;
}
.swiper-wrapper .swiper-slide .content .size h3, .swiper-wrapper .swiper-slide .content .color h3 {
    margin:3px 10px 0 0;
    color:#fff;  font-size:14px; font-weight:400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.swiper-wrapper .swiper-slide .content .size span {
    display:inline-block;
    position:relative;
    width:22px; height:22px;
    margin:0 5px;
    color:#222; font-size:13px;
    font-weight: 600;
    text-align: center;  line-height:20px;
    background:#fff;
    border-radius: 4px;
    transition:0.5s;
    overflow:hidden;
    cursor:pointer;
}
.swiper-wrapper .swiper-slide:nth-child(2) .content .size span:last-child::after, .swiper-wrapper .swiper-slide:nth-child(3) .content .size span:nth-child(3)::after { 
    content:'';
    position:absolute; top:-8px; left:8px;
    width:1px; height:40px;
    background:rgb(255, 0, 0);
    transform:rotate(45deg);
 }
.content .size span:hover:not(.disabled) {  background:#ec3e3e; }


.swiper-wrapper .swiper-slide .content .color span {
    width:20px; height:20px;
    margin:0 5px;
    background:#f00;
    border-radius:50%;
    border:2px solid #fff;
    cursor:pointer;
}
.swiper-wrapper .swiper-slide .content .color span:nth-child(2) { background:#58de1f }
.swiper-wrapper .swiper-slide .content .color span:nth-child(3) { background:#dddddd }
.swiper-wrapper.wrap .swiper-slide .content .color span:nth-child(2) { background:#1f48de }
.swiper-wrapper.wrap .swiper-slide .content .color span:nth-child(3) { background:#ffc800 }
.swiper-wrapper.wrap .swiper-slide.cw .content .color span { background:#e28400 }
.swiper-wrapper.wrap .swiper-slide.cw .content .color span:nth-child(2) { background:#0ad42b }

.swiper-wrapper .swiper-slide .content a {
    display:inline-block;
    position:relative;
    top:10px;
    padding:10px 30px;
    color:#222; font-weight:600;
    letter-spacing: 1px;
    background:#fff;
    border-radius: 40px;
}
.swiper-wrapper .swiper-slide .content a::after {
    content:'BUY NOW';
    position:absolute; left:0; top:0;
    width:100%; height:100%;
    text-align:center; line-height:42px;
    background:rgb(36, 143, 107);
    border-radius: 40px;
    opacity:0;
    transition: 0.2s ease-in;
}
.swiper-wrapper .swiper-slide:nth-child(even) .content a::after {  background:rgb(126, 82, 206);}
.swiper-wrapper .swiper-slide:nth-child(3) .content a::after {  background:rgb(219, 121, 30);}


@media screen and (min-width:768px) {
    
    /*===== slider hover =====*/
    .swiper-wrapper .swiper-slide .content a:hover:after{ opacity:1;}
    .swiper-wrapper .swiper-slide:hover .imgBox{
        transform:translateY(-60px) scale(0.9);
    }
    .swiper-wrapper .swiper-slide:hover .imgBox img {
        transform: rotate(20deg) scale(0.8);
    }
    .swiper-wrapper .swiper-slide:hover .imgBox h2 {
        transform:translateY(-25px); color:#fff;
    }
    .swiper-wrapper .swiper-slide:hover .content {
        opacity:1;
        visibility: visible;
        transform:translateY(-20px);
    }
    .swiper-wrapper.shoes > .swiper-slide:hover .imgBox{
        transform:translateY(-100px);
    }
    .swiper-wrapper.shoes > .swiper-slide:hover .imgBox img {
        transform: translateY(10px)  rotate(10deg) scale(0.7);
    }
    .swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox { transform:translateY(-45px) scale(0.9); }
    .swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox img {
        transform: rotate(20deg) scale(0.9);
    }
    .swiper-wrapper.wrap .swiper-slide.cw:hover .imgBox h2 { transform:translateY(-15px);}

}
