@charset "utf-8";

/*===== tablet area ======*/

/*===== textBox =====*/
.txtBox { width:280px; height:200px;  }
.title { font-size:130px;     }
.title em {  font-size:35px;  }
.txt { right:0px; top:160px; font-size:25px;  }
.txt strong { margin-left:20px; font-size:28px; }

/* ===== gnb 1 depth =====*/
.gnb { width:200px; }
.gnb > li > a { height:45px; padding-top:11px;     font-size:16px;  }
.gnb > li > a:last-child { padding-right:20px; }
.gnb em i { margin-right:15px;}

/* ===== gnb 2 depth =====*/
.gnb ul {  width:180px; }
.gnb li.on ul, .gnb li:hover ul { left:125px;  }
.gnb li.on ul { top:-15px; opacity:0.6; }

/*===== conBox =====*/
.con { width:300px;  }

.conBox:hover { right:-500px; background:rgba(0, 0, 0, 0.75); }
.conBox:hover .con { left:70px; background:rgba(45, 65, 0, 0.6); }
/*===== contents =====*/
article { 
    position: absolute; left:300px; width:200px; height:100px; 
    opacity:0.2;
    transition: all 0.4s ease-in; 
}
article h3 { margin-left:20px;}
.conBox:hover article{ left:0px; opacity:0.9; }
}



